/*MANGA*/

/*IRRELEVANT*/

td a[href="/manga/161001/Catch_You_Catch_Me"],
td a[href="/manga/125475/Bosabosa_Melancholy"],
td a[href="/manga/177683/Hitori_Tabi_Nikki"],
td a[href="/manga/150771/Tsukiyo_ni_Suzuran"],
td a[href="/manga/99932/Hoshi_ni_Negai_wo"],
td a[href="/manga/155109/Hon_wo_Okuru"],
td a[href="/manga/80849/Undeadman"],
td a[href="/manga/173615/Houmurareta_Kimi_e"],
td a[href="/manga/176395/Neko_no_Hi"],
td a[href="/manga/166389/Kissako"],
td a[href="/manga/51505/Square"],
td a[href="/manga/30255/Take-out"],
td a[href="/manga/49693/Astro"],
td a[href="/manga/55991/09Summer"],
td a[href="/manga/123302/Isekai_Essay_Saku__Bucket"],
td a[href="/manga/118503/33-sai_Dokushin_Onna_Kishi_Taichou"],
td a[href="/manga/46164/Yoshinatsu"],
td a[href="/manga/25243/Phase_20_2"],
td a[href="/manga/30257/RKGKMDK"],
td a[href="/manga/5461/Serial_Experiments_Lain__The_Nightmare_of_Fabrication"],
td a[href="/manga/13770/Shinigami_Alice"],
td a[href="/manga/81441/Hiyorigeta"],
td a[href="/manga/88103/Crochet_Rest"],
td a[href="/manga/89766/Haru_no_Menuet"],
td a[href="/manga/169877/Mata_Ashita_Ano_Seki_de"],
td a[href="/manga/4762/Tengoku_no_Honya"],
td a[href="/manga/36437/Sekai_de_Ichiban_Utsukushii_Namae"],
td a[href="/manga/152490/Denpatou"],
td a[href="/manga/173878/Kokoro_ni_Yorite"],
td a[href="/manga/168753/Nagi_no_Hate_nite"],
td a[href="/manga/167297/Daisuki_desu_Daisuki_desu"],
td a[href="/manga/172571/Romance_Code"],
td a[href="/manga/171433/Yubisaki_ni_Koi_wo_Sakasete"],
td a[href="/manga/169553/Akuyaku_Reijou_to_Gal_Maid"],
td a[href="/manga/174590/Hikari_no_Sumu_Tokoro"],
td a[href="/manga/169828/Koyoi_Akuyaku_Reijou_no_Te_wo_Toretara"],
td a[href="/manga/175576/Ichiya_de_Ochiru_Koi_Nante"],
td a[href="/manga/175672/Watashi_ga_Sekai_wo_Sukuu_Riyuu"]
{
color:#535D8D;
font-weight:normal !important;

}

/*NOVELS*/

td a[href="/manga/82401/Konjiki_no_Word_Master__Yuusha_Yonin_ni_Makikomareta_Unique_Cheat"],
td a[href="/manga/95012/Kumo_desu_ga_Nani_ka"],
td a[href="/manga/99891/Tensei_shitara_Ken_deshita"],
td a[href="/manga/87610/Tensei_shitara_Slime_Datta_Ken"],
td a[href="/manga/12854/Toaru_Majutsu_no_Index"],
td a[href="/manga/90118/Tsuki_ga_Michibiku_Isekai_Douchuu"],
td a[href="/manga/97871/Zettai_ni_Hatarakitakunai_Dungeon_Master_ga_Damin_wo_Musaboru_made"],
td a[href="/manga/90467/Gaikotsu_Kishi-sama_Tadaima_Isekai_e_Odekakechuu"],
td a[href="/manga/55215/Utsuro_no_Hako_to_Zero_no_Maria"],
td a[href="/manga/58509/Tabi_ni_Deyou_Horobiyuku_Sekai_no_Hate_made"],
td a[href="/manga/3074/Shakugan_no_Shana"]
{
color:#338543;
}

/*ANIME*/

/*IRRELEVANT*/

td a[href="/anime/37760/Mecha-ude"],
td a[href="/anime/1480/Sky_Girls_OVA"],
td a[href="/anime/38067/Harukana_Receive__Yokoku"],
td a[href="/anime/56858/Canoe_no_Ue_de_Hitoyasumi"],
td a[href="/anime/57488/Kabigon_to_Karakara"],
td a[href="/anime/59622/Kabigon_to_Nani_Shite_Kutsurogu"],
td a[href="/anime/58224/Ore_dake_Level_Up_na_Ken__How_to_Get_Stronger"],
td a[href="/anime/10418/Deadman_Wonderland__Akai_Knife_Tsukai"],
td a[href="/anime/36805/Kirara_Fantasia"],
td a[href="/anime/659/Azumanga_Daiou__Gekijou_Tanpen"],
td a[href="/anime/1593/Azumanga_Web_Daiou"],
td a[href="/anime/55534/Jinshan_Cheng_Cai_Qiu_Hua_Hui_Yi_Shi"],
td a[href="/anime/38936/Lord_El-Melloi_II-sei_no_Jikenbo__Rail_Zeppelin_Grace_Note_-_Hakamori_to_Neko_to_Majutsushi"],
td a[href="/anime/49361/Lord_El-Melloi_II-sei_no_Jikenbo__Rail_Zeppelin_Grace_Note_Special"],
td a[href="/anime/4440/Sugata_Sanshirou"],
td a[href="/anime/55720/Genjitsu_no_Rimuru__Sunshine_in_the_Slime"],
td a[href="/anime/1238/One_Piece__Mamore_Saigo_no_Oobutai"],
td a[href="/anime/454/hack__Gift"],
td a[href="/anime/1143/hack__Intermezzo"],
td a[href="/anime/299/hack__Liminality"],
td a[href="/anime/1487/hack__Unison"],
td a[href="/anime/11339/A-Channel_smile"],
td a[href="/anime/35285/A-Channel__Nabe_wo_Tabeyou"],
td a[href="/anime/13939/Accel_World_EX"],
td a[href="/anime/30845/Aikatsu_Music_Award__Minna_de_Shou_wo_MoracchaimaShow"],
td a[href="/anime/32806/Aikatsu__Nerawareta_Mahou_no_Aikatsu_Card"],
td a[href="/anime/6987/Aki-Sora"],
td a[href="/anime/8577/Aki-Sora__Yume_no_Naka"],
td a[href="/anime/17901/All_Alone_With_You"],
td a[href="/anime/10067/Angel_Beats_Another_Epilogue"],
td a[href="/anime/9062/Angel_Beats_Specials"],
td a[href="/anime/28405/Ansatsu_Kyoushitsu__Deai_no_Jikan"],
td a[href="/anime/19759/Ansatsu_Kyoushitsu__Jump_Festa_2013_Special"],
td a[href="/anime/1789/Argento_Soma__Hitori_to_Hitori"],
td a[href="/anime/29893/Aria_the_Avvenire"],
td a[href="/anime/5244/Aria_the_Natural__Sono_Futatabi_Deaeru_Kiseki_ni"],
td a[href="/anime/5196/Aria_the_Origination_Picture_Drama"],
td a[href="/anime/4772/Aria_the_Origination__Sono_Choppiri_Himitsu_no_Basho_ni"],
td a[href="/anime/2563/Aria_the_OVA__Arietta"],
td a[href="/anime/12581/Asa_made_Jugyou_Chu"],
td a[href="/anime/10582/Astarotte_no_Omocha_EX"],
td a[href="/anime/43751/Ayanami_Rei_Hajimete_no_Kuchibeni"],
td a[href="/anime/10196/Baby_Princess_3D_Paradise_0_Love"],
td a[href="/anime/3901/Baccano_Specials"],
td a[href="/anime/7870/Baka_to_Test_to_Shoukanjuu_Specials"],
td a[href="/anime/9471/Baka_to_Test_to_Shoukanjuu__Matsuri"],
td a[href="/anime/10431/Baka_to_Test_to_Shoukanjuu__Matsuri_-_Sentaku_ni_Yotte_Tenkai_ga_Kawaru_LIPS_Eizou"],
td a[href="/anime/31298/Baka_to_Test_to_Shoukanjuu__Matsuri_-_Sentakushi_Ikou_nomi"],
td a[href="/anime/7805/Baka_to_Test_to_Shoukanjuu__Mondai_-_Christmas_ni_Tsuite_Kotae_Nasai"],
td a[href="/anime/6948/Bakemonogatari_Recap"],
td a[href="/anime/53731/Big_Mac_to_Susume"],
td a[href="/anime/33712/Bikini_Warriors_OVA"],
td a[href="/anime/31283/Bikini_Warriors_Special"],
td a[href="/anime/8440/Black_Lagoon_Omake"],
td a[href="/anime/12079/Black★Rock_Shooter"],
td a[href="/anime/762/Bleach__Memories_in_the_Rain"],
td a[href="/anime/38699/Boku_no_Hero_Academia_the_Movie_1__Futari_no_Hero_Specials"],
td a[href="/anime/43683/Boku_no_Hero_Academia_the_Movie_2__Heroes_Rising_-_Epilogue_Plus_-_Yume_wo_Genjitsu_ni"],
td a[href="/anime/50532/Boku_no_Hero_Academia_the_Movie_3__World_Heroes_Mission_-_Tabidachi"],
td a[href="/anime/35262/Boku_no_Hero_Academia__Hero_Note"],
td a[href="/anime/42603/Boku_no_Hero_Academia__Ikinokore_Kesshi_no_Survival_Kunren"],
td a[href="/anime/33929/Boku_no_Hero_Academia__Sukue_Kyuujo_Kunren"],
td a[href="/anime/35459/Boku_no_Hero_Academia__Training_of_the_Dead"],
td a[href="/anime/14027/Boku_wa_Tomodachi_ga_Sukunai__Relay_Shousetsu_wa_Ketsumatsu_ga_Hanpanai"],
td a[href="/anime/10897/Boku_wa_Tomodachi_ga_Sukunai__Yaminabe_wa_Bishoujo_ga_Zannen_na_Nioi"],
td a[href="/anime/39819/Bokutachi_wa_Benkyou_ga_Dekinai__Nagisa_ni_Usemono_Arite_Senjin_wa_Enzen_to_X_Suru"],
td a[href="/anime/35314/Busou_Shoujo_Machiavellianism__Doki_Goken-darake_no_Ian_Ryokou"],
td a[href="/anime/5116/Candy_Boy_Episode__EX01_-_Mirai_Yohouzu"],
td a[href="/anime/3456/Candy☆Boy__Side_Story_For_Archive"],
td a[href="/anime/1078/Cardcaptor_Sakura__Kero-chan_ni_Omakase"],
td a[href="/anime/12505/C³__Rinkan_Gakkou_Confusion"],
td a[href="/anime/31553/Charlotte__Tsuyoimono-tachi"],
td a[href="/anime/16934/Chuunibyou_demo_Koi_ga_Shitai_Kirameki_no_Slapstick_Noel"],
td a[href="/anime/22839/Cross_Road"],
td a[href="/anime/23383/D-Frag"],
td a[href="/anime/1841/Dai_Mahou_Touge_Omake"],
td a[href="/anime/14893/Dakara_Boku_wa_H_ga_Dekinai_Mie_Sugi_Mizugi_Contest"],
td a[href="/anime/17121/Dareka_no_Manazashi"],
td a[href="/anime/22961/Date_A_Live_II__Kurumi_Star_Festival"],
td a[href="/anime/17641/Date_A_Live__Date_to_Date"],
td a[href="/anime/9690/Densetsu_no_Yuusha_no_Densetsu__Iris_Report"],
td a[href="/anime/32801/Dungeon_ni_Deai_wo_Motomeru_no_wa_Machigatteiru_Darou_ka_OVA"],
td a[href="/anime/8408/Durarara_Specials"],
td a[href="/anime/32915/Durararax2_Ketsu__Dufufufu"],
td a[href="/anime/30191/Durararax2_Shou__Watashi_no_Kokoro_wa_Nabe_Moyou"],
td a[href="/anime/31552/Durararax2_Ten__Onoroke_Chakapoko"],
td a[href="/anime/6401/ef__A_Tale_of_Melodies_-_Prologue"],
td a[href="/anime/6361/ef__A_Tale_of_Memories_-_Prologue"],
td a[href="/anime/2953/Egao"],
td a[href="/anime/376/Elfen_Lied__Tooriame_nite_Arui_wa_Shoujo_wa_Ikani_Shite_Sono_Shinjou_ni_Itatta_ka_-_Regenschauer"],
td a[href="/anime/34321/Fate_Grand_Order__First_Order"],
td a[href="/anime/31056/Fate_kaleid_liner_Prisma☆Illya_2wei_Herz_Specials"],
td a[href="/anime/25011/Fate_kaleid_liner_Prisma☆Illya_2wei_Specials"],
td a[href="/anime/26057/Fate_kaleid_liner_Prisma☆Illya_2wei__Mahou_Shoujo_in_Onsen_Ryokou"],
td a[href="/anime/19109/Fate_kaleid_liner_Prisma☆Illya_Specials"],
td a[href="/anime/18851/Fate_kaleid_liner_Prisma☆Illya__Undoukai_de_Dance"],
td a[href="/anime/12565/Fate_Prototype"],
td a[href="/anime/31389/Fate_stay_night__Unlimited_Blade_Works_2nd_Season_-_Sunny_Day"],
td a[href="/anime/27821/Fate_stay_night__Unlimited_Blade_Works_Prologue"],
td a[href="/anime/7744/Fight_Ippatsu_Juuden-chan_Specials"],
td a[href="/anime/10172/Freezing_Specials"],
td a[href="/anime/13287/Galaxy_Angel_Specials"],
td a[href="/anime/30925/Gatchaman_Crowds_Insight__Inbound"],
td a[href="/anime/23703/Gatchaman_Crowds__Embrace"],
td a[href="/anime/27633/Gekkan_Shoujo_Nozaki-kun_Specials"],
td a[href="/anime/35814/Granblue_Fantasy_The_Animation__Kabocha_no_Lantern"],
td a[href="/anime/17897/Hana_wa_Saku"],
td a[href="/anime/3165/Hidamari_Sketch_Specials"],
td a[href="/anime/10604/Hidan_no_Aria__Butei_ga_Kitarite_Onsen_Kenshuu"],
td a[href="/anime/31326/High_School_DxD_BorN__Ishibumi_Ichiei_Kanzen_Kanshuu_Mousou_Bakuyou_Kaijo_Original_Video"],
td a[href="/anime/32215/High_School_DxD_BorN__Yomigaeranai_Fushichou"],
td a[href="/anime/37719/High_School_DxD_Hero__Taiikukan-ura_no_Holy"],
td a[href="/anime/30300/High_School_DxD_New__Oppai_Tsutsumimasu"],
td a[href="/anime/12729/High_School_DxD_OVA"],
td a[href="/anime/13357/High_School_DxD_Specials"],
td a[href="/anime/9515/Highschool_of_the_Dead__Drifters_of_the_Dead"],
td a[href="/anime/2899/Higurashi_no_Naku_Koro_ni_Special__Nekogoroshi-hen"],
td a[href="/anime/645/Hikaru_no_Go__Hokuto_Hai_e_no_Michi"],
td a[href="/anime/30991/Himouto_Umaru-chan_OVA"],
td a[href="/anime/31234/Himouto_Umaru-chanS"],
td a[href="/anime/35235/Hitorigurashi_no_Shougakusei"],
td a[href="/anime/24261/Hitsugi_no_Chaika__Nerawareta_Hitsugi_Yomigaeru_Iseki"],
td a[href="/anime/1220/Hoshizora_Kiseki"],
td a[href="/anime/19581/Houseki_no_Kuni_PV"],
td a[href="/anime/9362/Hyakka_Ryouran__Samurai_Girls_Specials"],
td a[href="/anime/8465/Ichiban_Ushiro_no_Daimaou_Specials"],
td a[href="/anime/17887/Ichirin-sha"],
td a[href="/anime/20045/IS__Infinite_Stratos_2_-_Hitonatsu_no_Omoide"],
td a[href="/anime/21653/IS__Infinite_Stratos_2_-_World_Purge-hen"],
td a[href="/anime/10794/IS__Infinite_Stratos_Encore_-_Koi_ni_Kogareru_Rokujuusou"],
td a[href="/anime/45604/Jaku-Chara_Tomozaki-kun_Specials"],
td a[href="/anime/38383/Jashin-chan_Dropkick_Episode_12"],
td a[href="/anime/9001/Je_Taime"],
td a[href="/anime/15617/Jinrui_wa_Suitai_Shimashita_Specials"],
td a[href="/anime/16101/Jinrui_wa_Suitai_Shimashita__Ningen-san_no_Yousei-san_Memo"],
td a[href="/anime/6862/K-On__Live_House"],
td a[href="/anime/24123/Kaette_Kita_Top_wo_Nerae_Kagaku_Kouza"],
td a[href="/anime/15391/Kagaku_na_Yatsura"],
td a[href="/anime/9366/Kaichou_wa_Maid-sama__Omake_da_yo"],
td a[href="/anime/10354/Kakomareta_Sekai"],
td a[href="/anime/10805/Kami_nomi_zo_Shiru_Sekai__4-nin_to_Idol"],
td a[href="/anime/9675/Kami_nomi_zo_Shiru_Sekai__Flag_0"],
td a[href="/anime/15117/Kami_nomi_zo_Shiru_Sekai__Tenri-hen"],
td a[href="/anime/32287/Kanamewo"],
td a[href="/anime/1004/Kanojo_to_Kanojo_no_Neko"],
td a[href="/anime/4760/Kanokon_Specials"],
td a[href="/anime/30915/Kekkai_Sensen__Soresaemo_Saitei_de_Saikou_na_Hibi"],
td a[href="/anime/4460/Kikumana"],
td a[href="/anime/21659/Kill_la_Kill_Specials"],
td a[href="/anime/3466/Kino_no_Tabi__The_Beautiful_World_-_Tou_no_Kuni_-_Free_Lance"],
td a[href="/anime/1379/Kino_no_Tabi__The_Beautiful_World_-_Nanika_wo_Suru_Tame_ni_-_Life_Goes_On"],
td a[href="/anime/35363/Kobayashi-san_Chi_no_Maid_Dragon__Valentine_Soshite_Onsen_-_Amari_Kitai_Shinaide_Kudasai"],
td a[href="/anime/35145/Kobayashi-san_Chi_no_OO_Dragon"],
td a[href="/anime/4195/Kodomo_no_Jikan_Ni_Gakki"],
td a[href="/anime/3121/Kodomo_no_Jikan_OVA"],
td a[href="/anime/8876/Koe_de_Oshigoto_The_Animation"],
td a[href="/anime/5305/Koihime†Musou__Gunyuu_Seitoukaichou_no_Za_wo_Neratte_Aiarasou_no_Koto_-_Ato_Porori_mo_Aru_yo"],
td a[href="/anime/16001/Kokoro_Connect__Michi_Random"],
td a[href="/anime/15609/Kono_Naka_ni_Hitori_Imouto_ga_Iru__Ani_Imouto_Koibito"],
td a[href="/anime/34626/Kono_Subarashii_Sekai_ni_Shukufuku_wo_2__Kono_Subarashii_Geijutsu_ni_Shukufuku_wo"],
td a[href="/anime/32380/Kono_Subarashii_Sekai_ni_Shukufuku_wo_Kono_Subarashii_Choker_ni_Shukufuku_wo"],
td a[href="/anime/10209/Kore_wa_Zombie_desu_ka_OVA"],
td a[href="/anime/1335/Koukaku_Kidoutai__Stand_Alone_Complex_-_Tachikoma_na_Hibi"],
td a[href="/anime/19669/Kuroko_no_Basket__Baka_ja_Katenai_no_yo"],
td a[href="/anime/16916/Kuroko_no_Basket__Tip_Off"],
td a[href="/anime/23385/Kyoukai_no_Kanata__Shinonome"],
td a[href="/anime/8302/Ladies_versus_Butlers_Specials"],
td a[href="/anime/38936/Lord_El-Melloi_II_Sei_no_Jikenbo__Rail_Zeppelin_Grace_Note_-_Hakamori_to_Neko_to_Majutsushi"],
td a[href="/anime/49361/Lord_El-Melloi_II_Sei_no_Jikenbo__Rail_Zeppelin_Grace_Note_Special"],
td a[href="/anime/21415/Machine-Doll_wa_Kizutsukanai_Specials"],
td a[href="/anime/23831/Mahou_Shoujo_Madoka★Magica_Movie_3__Hangyaku_no_Monogatari_-_Magica_Quartet_x_Nisioisin"],
td a[href="/anime/32153/Mahou_Shoujo_Madoka★Magica__Concept_Movie"],
td a[href="/anime/10519/Mahou_Shoujo_Sonico★Magica"],
td a[href="/anime/32902/Mahoutsukai_no_Yome__Hoshi_Matsu_Hito"],
td a[href="/anime/2791/Makasete_Iruka"],
td a[href="/anime/11209/Maken-Ki_OVA"],
td a[href="/anime/12449/Maken-Ki_Specials"],
td a[href="/anime/23989/Maken-Ki_Two_Specials"],
td a[href="/anime/24475/Mangaka-san_to_Assistant-san_to_The_Animation_Specials"],
td a[href="/anime/10845/Manyuu_Hikenchou_Specials"],
td a[href="/anime/34447/Masou_Gakuen_HxH_Specials"],
td a[href="/anime/2488/Mei_to_Koneko_Bus"],
td a[href="/anime/8460/Mirai_Nikki"],
td a[href="/anime/12503/Mirai_Nikki_TV__Ura_Mirai_Nikki"],
td a[href="/anime/2791/Makasete_Iruka"],
td a[href="/anime/9581/MM_Specials"],
td a[href="/anime/32698/Monster_Musume_no_Iru_Nichijou_OVA"],
td a[href="/anime/31121/Monster_Musume_no_Iru_Nichijou__Hobo_Mainichi_◯◯_Namappoi_Douga"],
td a[href="/anime/23423/Mujaki_no_Rakuen"],
td a[href="/anime/36725/Naisho_no_Hanashi"],
td a[href="/anime/30347/Nanatsu_no_Taizai_OVA"],
td a[href="/anime/38198/Nanatsu_no_Taizai__Eiyuu-tachi_wa_Hashagu"],
td a[href="/anime/1074/Naruto_Narutimate_Hero_3__Tsuini_Gekitotsu_Jounin_vs_Genin_Musabetsu_Dairansen_Taikai_Kaisai"],
td a[href="/anime/10659/Naruto_Soyokazeden_Movie__Naruto_to_Mashin_to_Mitsu_no_Onegai_Dattebayo"],
td a[href="/anime/10075/Naruto_x_UT"],
td a[href="/anime/2248/Naruto__Dai_Katsugeki_Yuki_Hime_Shinobu_Houjou_Dattebayo_-_Konoha_no_Sato_no_Dai_Undoukai"],
td a[href="/anime/19511/Naruto__Shippuuden_-_Sunny_Side_Battle"],
td a[href="/anime/594/Naruto__Takigakure_no_Shitou_-_Ore_ga_Eiyuu_Dattebayo"],
td a[href="/anime/7367/Naruto__The_Cross_Roads"],
td a[href="/anime/34277/New_Game_Watashi_Shain_Ryokou_tte_Hajimete_nanode"],
td a[href="/anime/24991/No_Game_No_Life_Specials"],
td a[href="/anime/37402/No_Game_No_Life__Zero_-_Manner_Movie"],
td a[href="/anime/32668/Noblesse__Awakening"],
td a[href="/anime/3965/Nodame_Cantabile__Nodame_to_Chiaki_no_Umi_Monogatari"],
td a[href="/anime/32547/Non_Non_Biyori_Repeat__Hotaru_ga_Tanoshinda"],
td a[href="/anime/21667/Non_Non_Biyori__Okinawa_e_Ikukoto_ni_Natta"],
td a[href="/anime/920/Nurse_Witch_Komugi-chan_Magikarte_Special"],
td a[href="/anime/921/Nurse_Witch_Komugi-chan_Magikarte_Z"],
td a[href="/anime/5957/Nyoro-n_Churuya-san"],
td a[href="/anime/32191/Okitegami_Kyouko_no_Bibouroku_x_Monogatari"],
td a[href="/anime/31980/Okusama_ga_Seitokaichou_Seitokaichou_to_Ofuro_Asobi"],
td a[href="/anime/32190/Omoi_no_Kakera"],
td a[href="/anime/28683/One_Piece__Episode_of_Alabasta_-_Prologue"],
td a[href="/anime/2385/One_Piece__Jango_no_Dance_Carnival"],
td a[href="/anime/16143/One_Piece__Kinkyuu_Kikaku_One_Piece_Kanzen_Kouryakuhou"],
td a[href="/anime/1238/One_Piece__Mamore_Saigo_no_Dai_Butai"],
td a[href="/anime/2490/One_Piece__Mezase_Kaizoku_Yakyuu_Ou"],
td a[href="/anime/2020/One_Piece__Nenmatsu_Tokubetsu_Kikaku_Mugiwara_no_Luffy_Oyabun_Torimonochou"],
td a[href="/anime/1237/One_Piece__Oounabara_ni_Hirake_Dekkai_Dekkai_Chichi_no_Yume"],
td a[href="/anime/5252/One_Piece__Romance_Dawn_Story"],
td a[href="/anime/466/One_Piece__Taose_Kaizoku_Ganzack"],
td a[href="/anime/1094/One_Piece__Umi_no_Heso_no_Daibouken-hen"],
td a[href="/anime/31772/One_Punch_Man_Specials"],
td a[href="/anime/31704/One_Punch_Man__Road_to_Hero"],
td a[href="/anime/15881/Oniichan_dakedo_Ai_sae_Areba_Kankeinai_yo_ne_Specials"],
td a[href="/anime/39397/Ore_ga_Suki_nano_wa_Imouto_dakedo_Imouto_ja_Nai_Specials"],
td a[href="/anime/10020/Ore_no_Imouto_ga_Konnani_Kawaii_Wake_ga_Nai_Specials"],
td a[href="/anime/18857/Ore_no_Imouto_ga_Konnani_Kawaii_Wake_ga_Nai_Specials"],
td a[href="/anime/20939/Ore_no_Nounai_Sentakushi_ga_Gakuen_Love_Comedy_wo_Zenryoku_de_Jama_Shiteiru_OVA"],
td a[href="/anime/39325/Otona_no_Bouguya-san_Rimen"],
td a[href="/anime/31138/Overlord__Ple_Ple_Pleiades"],
td a[href="/anime/33372/Overlord__Ple_Ple_Pleiades_-_Nazarick_Saidai_no_Kiki"],
td a[href="/anime/13669/Owari_no_Chronicle"],
td a[href="/anime/1525/Pokemon_Crystal__Raikou_Ikazuchi_no_Densetsu"],
td a[href="/anime/1709/Pokemon__Mewtwo_Ware_wa_Koko_ni_Ari"],
td a[href="/anime/4793/Pokemon__Pichu_to_Pikachu"],
td a[href="/anime/4794/Pokemon__Pikachu_no_Dokidoki_Kakurenbo"],
td a[href="/anime/4874/Pokemon__Pikachu_no_Fuyuyasumi"],
td a[href="/anime/10916/Pokemon__Pikachu_no_Fuyuyasumi_2000"],
td a[href="/anime/10917/Pokemon__Pikachu_no_Fuyuyasumi_2001"],
td a[href="/anime/5526/Pokemon__Pikachu_no_Natsuyasumi"],
td a[href="/anime/4792/Pokemon__Pikachu_Tankentai"],
td a[href="/anime/6385/Pokemon__Yadoking_no_Ichinichi"],
td a[href="/anime/7468/Princess_Lover_Picture_Drama"],
td a[href="/anime/8231/Princess_Lover__Magical_Knight_Maria-chan"],
td a[href="/anime/32485/Prison_School__Mad_Wax"],
td a[href="/anime/7740/Queens_Blade__Gyokuza_wo_Tsugu_Mono_Specials"],
td a[href="/anime/6704/Queens_Blade__Rurou_no_Senshi_Specials"],
td a[href="/anime/12135/Ra_Radio_NoisePlanet"],
td a[href="/anime/33142/Re_Zero_kara_Hajimeru_Break_Time"],
td a[href="/anime/35466/ReLIFE__Kanketsu-hen"],
td a[href="/anime/15807/Ro-Kyu-Bu__Tomoka_no_Ichigo_Sundae"],
td a[href="/anime/4794/Pokemon__Pikachu_no_Dokidoki_Kakurenbo"],
td a[href="/anime/4874/Pokemon__Pikachu_no_Fuyuyasumi"],
td a[href="/anime/12137/RoboticaRobotics"],
td a[href="/anime/35338/Saenai_Heroine_no_Sodatekata_♭__Koi_to_Junjou_no_Service-kai"],
td a[href="/anime/29317/Saenai_Heroine_no_Sodatekata__Ai_to_Seishun_no_Service-kai"],
td a[href="/anime/13055/Sankarea_OVA"],
td a[href="/anime/16694/Sankarea__Wagahai_mo_Zombie_de_Aru"],
td a[href="/anime/25285/Seireitsukai_no_Blade_Dance_Specials"],
td a[href="/anime/10119/Seitokai_Yakuindomo_OVA"],
td a[href="/anime/21009/Sekai_de_Ichiban_Tsuyoku_Naritai_Specials"],
td a[href="/anime/12133/Sekaikei_Sekai_Ron"],
td a[href="/anime/5279/Sekirei__Hajimete_no_Otsukai"],
td a[href="/anime/9355/Sekirei__Pure_Engagement_Episode_0"],
td a[href="/anime/42725/Sen_no_Hana_Sen_no_Sora"],
td a[href="/anime/1531/Shakugan_no_Shana__Koi_to_Onsen_no_Kougai_Gakushuu"],
td a[href="/anime/34240/Shelter_Music"],
td a[href="/anime/11813/Shijou_Saikyou_no_Deshi_Kenichi_OVA"],
td a[href="/anime/24029/Shijou_Saikyou_no_Deshi_Kenichi_Specials"],
td a[href="/anime/25271/Shinano_Mainichi_Shinbun"],
td a[href="/anime/18397/Shingeki_no_Kyojin_OVA"],
td a[href="/anime/25781/Shingeki_no_Kyojin__Kuinaki_Sentaku"],
td a[href="/anime/30365/Shinmai_Maou_no_Testament_Burst__Toujou_Basara_no_Shigoku_Heiwa_na_Nichijou"],
td a[href="/anime/29027/Shinmai_Maou_no_Testament__Toujou_Basara_no_Hard_Sweet_na_Nichijou"],
td a[href="/anime/31327/Shokugeki_no_Souma_OVA"],
td a[href="/anime/34480/Shokugeki_no_Souma__Ni_no_Sara_OVA"],
td a[href="/anime/36962/Shokugeki_no_Souma__San_no_Sara_-_Kyokuseiryou_no_Erina"],
td a[href="/anime/7396/Shuffle_Prologue"],
td a[href="/anime/35417/Sin__Nanatsu_no_Taizai_Zange-roku"],
td a[href="/anime/10796/Softenni_Specials"],
td a[href="/anime/50209/Sorairo_Utility"],
td a[href="/anime/32188/Steins_Gate__Kyoukaimenjou_no_Missing_Link_-_Divide_By_Zero"],
td a[href="/anime/10863/Steins_Gate__Oukoubakko_no_Poriomania"],
td a[href="/anime/1862/Strike_Witches_OVA"],
td a[href="/anime/33902/Suntory_Minami_Alps_no_Tennensui"],
td a[href="/anime/2424/Suteki_desu_wa_Sakura-chan_Tomoyo_no_Cardcaptor_Sakura_Katsuyaku_Video_Nikki"],
td a[href="/anime/5118/Suzumiya_Haruhi-chan_no_Yuuutsu"],
td a[href="/anime/20021/Sword_Art_Online__Extra_Edition"],
td a[href="/anime/15077/Tabisuru_Nuigurumi__Traveling_Daru"],
td a[href="/anime/13691/Taisei_Kensetsu_CMs"],
td a[href="/anime/49942/Tales_of_Luminaria__The_Fateful_Crossroad"],
td a[href="/anime/21201/Teekyuu_2_Specials"],
td a[href="/anime/22335/Teekyuu_3_Specials"],
td a[href="/anime/3287/Tenkuu_Danzai_Skelter_Heaven"],
td a[href="/anime/41068/Texhnolyze__Revisit"],
td a[href="/anime/31380/To_LOVE-Ru_Darkness_2nd_OVA"],
td a[href="/anime/31711/To_LOVE-Ru_Darkness_2nd_Specials"],
td a[href="/anime/13851/To_LOVE-Ru_Darkness_OVA"],
td a[href="/anime/22759/Toaru_Kagaku_no_Railgun_S__Daiji_na_Koto_wa_Zenbu_Sentou_ni_Osowatta"],
td a[href="/anime/19697/Toaru_Kagaku_no_Railgun_S__Motto_Marutto_Railgun"],
td a[href="/anime/9063/Toaru_Kagaku_no_Railgun__Entenka_no_Satsuei_Model_mo_Raku_Ja_Arimasen_wa_ne"],
td a[href="/anime/9047/Toaru_Kagaku_no_Railgun__Misaka-san_wa_Ima_Chuumoku_no_Mato_desu_kara"],
td a[href="/anime/8023/Toaru_Kagaku_no_Railgun__Motto_Marutto_Railgun"],
td a[href="/anime/51296/Tokyo_24-ku__Reversal_Film"],
td a[href="/anime/30458/Tokyo_Ghoul__Jack"],
td a[href="/anime/31297/Tokyo_Ghoul__Pinto"],
td a[href="/anime/2210/Tooi_Sekai"],
td a[href="/anime/20547/Top_wo_Nerae_2_Kagaku_Kouza"],
td a[href="/anime/7248/Top_wo_Nerae_Gunbuster_Specials"],
td a[href="/anime/5462/Top_wo_Nerae_Kagaku_Kouza"],
td a[href="/anime/11553/Toradora__Bentou_no_Gokui"],
td a[href="/anime/28285/Trinity_Seven__Nanatsu_no_Taizai_to_Nana_Madoushi"],
td a[href="/anime/40102/Tsuujou_Kougeki_ga_Zentai_Kougeki_de_Ni-kai_Kougeki_no_Okaasan_wa_Suki_desu_ka_Namiuchigiwa_no_Okaasan_wa_Suki_desu_ka"],
td a[href="/anime/39606/Uchi_no_Maid_ga_Uzasugiru__Uchi_no_Maid_wa_Yappari_Mou_Honto_Uzainda_naa"],
td a[href="/anime/36125/Uchiage_Hanabi"],
td a[href="/anime/37916/Uma_Musume__Pretty_Derby_-_BNW_no_Chikai"],
td a[href="/anime/3593/Utawarerumono_OVA"],
td a[href="/anime/6743/Utawarerumono_OVA_Picture_Drama"],
td a[href="/anime/1830/Utawarerumono_Specials"],
td a[href="/anime/31736/Valkyrie_Drive__Mermaid_Specials"],
td a[href="/anime/38999/Watashi_ni_Tenshi_ga_Maiorita_Special"],
td a[href="/anime/36125/Uchiage_Hanabi"],
td a[href="/anime/48614/Wonder_Egg_Priority__Watashi_no_Priority"],
td a[href="/anime/18753/Yahari_Ore_no_Seishun_Love_Comedy_wa_Machigatteiru_OVA"],
td a[href="/anime/33161/Yahari_Ore_no_Seishun_Love_Comedy_wa_Machigatteiru_Zoku_OVA"],
td a[href="/anime/43020/Yi_Guan_Xing_Shen"],
td a[href="/anime/976/Yokohama_Kaidashi_Kikou__Quiet_Country_Cafe"],
td a[href="/anime/23341/Yoku_Wakaru_Mahouka"],
td a[href="/anime/31448/Yoku_Wakaru_Mahouka_-_Saiseitte_Nani"],
td a[href="/anime/34723/Youjo_Shenki_Episode_0"],
td a[href="/anime/23225/Yuru_Yuri_Nachuyachumi"],
td a[href="/anime/30902/Yuru_Yuri_Nachuyachumi_"],
td a[href="/anime/12665/Yuru_Yuri__Doushite_Tomaranai_Tokimeki_Dokidoki_Paradox_Eternal"],
td a[href="/anime/32826/Yuuki_no_Baton"],
td a[href="/anime/20545/Yuusha_ni_Narenakatta_Ore_wa_Shibushibu_Shuushoku_wo_Ketsui_Shimashita_OVA"],
td a[href="/anime/5764/Zero_no_Tsukaima__Princesses_no_Rondo_-_Yuuwaku_no_Sunahama"],
td a[href="/anime/5667/To_LOVE-Ru_OVA"],
td a[href="/anime/10737/A-Channel___A-Channel"],
td a[href="/anime/49501/Katarina_Nounai_Kaigi_X"],
td a[href="/anime/49236/Youjo_Senki__Sabaku_no_Pasta_Daisakusen"],
td a[href="/anime/2386/One_Piece__Yume_no_Soccer_Ou"],
td a[href="/anime/10686/Naruto__Honoo_no_Chuunin_Shiken_Naruto_vs_Konohamaru"],
td a[href="/anime/11977/Mahou_Shoujo_Madoka★Magica_Movie_1__Hajimari_no_Monogatari"],
td a[href="/anime/11979/Mahou_Shoujo_Madoka★Magica_Movie_2__Eien_no_Monogatari"],
td a[href="/anime/42194/Katarina_to_Manabou"],
td a[href="/anime/50612/Dr_Stone__Ryuusui"],
td a[href="/anime/408/Final_Fantasy_VII__Last_Order"],
td a[href="/anime/43609/Kaguya-sama_wa_Kokurasetai_Tensai-tachi_no_Renai_Zunousen_OVA"],
td a[href="/anime/48375/Mahouka_Koukou_no_Rettousei__Tsuioku-hen"],
td a[href="/anime/49457/Otome_Game_no_Hametsu_Flag_shika_Nai_Akuyaku_Reijou_ni_Tensei_shiteshimatta_OVA"],
td a[href="/anime/517/School_Rumble__Ichi_Gakki_Hoshuu"],
td a[href="/anime/49363/SK∞_OVA"],
td a[href="/anime/40901/Toji_no_Miko__Kizamishi_Issen_no_Tomoshibi"],
td a[href="/anime/32338/Yes_BanG_Dream"],
td a[href="/anime/4795/Pokemon__Pikapika_Hoshizora_Camp"],
td a[href="/anime/2951/Gintama__Nanigoto_mo_Saisho_ga_Kanjin_nanode_Tashou_Senobisuru_Kurai_ga_Choudoyoi"],
td a[href="/anime/49521/Non_Non_Biyori_Nonstop__Bukatsu_wo_Ganbatta"],
td a[href="/anime/16762/Mirai_Nikki__Redial"],
td a[href="/anime/44983/Dungeon_ni_Deai_wo_Motomeru_no_wa_Machigatteiru_Darou_ka_III_OVA"],
td a[href="/anime/49297/Isekai_Cheat_Magician__Yoiboshi_no_Matsuri_to_Majutsushi"],
td a[href="/anime/54656/Buddy_Daddies_Intermission__Cherry-Pick"],
td a[href="/anime/54225/Inu_ni_Nattara_Suki_na_Hito_ni_Hirowareta_Specials"],
td a[href="/anime/54117/Nijiyon_Animation_Specials"],
td a[href="/anime/54218/Shinmai_Renkinjutsushi_no_Tenpo_Keiei_Mini_Anime__Onsen"],
td a[href="/anime/53248/Shinmai_Renkinjutsushi_no_Tenpo_Keiei_Mini_Anime"],
td a[href="/anime/16718/SKET_Dance__SD_Character_Flash_Anime"],
td a[href="/anime/10775/SKET_Dance__Tettei_Bunseki_Special"],
td a[href="/anime/56457/Kororon"],
td a[href="/anime/16395/SKET_Dance__Imouto_no_Nayami_ni_Nayamu_Ani_ni_Nayamu_Imouto_to_Sono_Nakama-tachi"],
td a[href="/anime/17725/Magical☆Star_Kanon_100"],
td a[href="/anime/54005/COLORs"],
td a[href="/anime/6945/Gintama__Shiroyasha_Koutan"],
td a[href="/anime/51534/Baraou_no_Souretsu_Recap"],
td a[href="/anime/9735/Gintama__Shinyaku_Benizakura-hen"],
td a[href="/anime/32380/Kono_Subarashii_Sekai_ni_Shukufuku_wo__Kono_Subarashii_Choker_ni_Shukufuku_wo"],
td a[href="/anime/41399/Katarina_Nounai_Kaigi"],
td a[href="/anime/2131/Bokusatsu_Tenshi_Dokuro-chan_2"],
td a[href="/anime/55574/Natsu_ni_Saku"],
td a[href="/anime/5415/La_Rose_de_Versailles"],
td a[href="/anime/36145/Tottoko_Hamtarou__Anime_Dechu"],
td a[href="/anime/17307/Dr_Typhoon"],
td a[href="/anime/56741/Temple_Specials"],
td a[href="/anime/17341/Yama_no_Susume__Kabe_tte_Kowakunai_no"],
td a[href="/anime/34870/BanG_Dream_Asonjatta"],
td a[href="/anime/51309/Sukuwareru_Ramiris"],
td a[href="/anime/45753/Tensei_shitara_Slime_Datta_Ken__Kanwa_-_Hinata_Sakaguchi"],
td a[href="/anime/39607/Tensei_shitara_Slime_Datta_Ken__Kanwa_-_Veldora_Nikki"],
td a[href="/anime/38793/Tensei_shitara_Slime_Datta_Ken_OVA"],
td a[href="/anime/49318/Tensei_shitara_Slime_Datta_Ken_2nd_Season__Kanwa_-_Veldora_Nikki_2"],
td a[href="/anime/58592/Tensei_shitara_Slime_Datta_Ken_3rd_Season__Kanwa_-_Diablo_Nikki"],
td a[href="/anime/7902/Fullmetal_Alchemist__Brotherhood_-_4-koma_Gekijou"],
td a[href="/anime/6421/Fullmetal_Alchemist__Brotherhood_Specials"],
td a[href="/anime/54565/Tensei_shitara_Slime_Datta_Ken__Coleus_no_Yume"],
td a[href="/anime/54050/He_Wei_Dao_x_Guan_Yu_Wo_Zhuan_Sheng_Bian_Cheng_Shi_Lai_Mu_Zhe_Dang_Shi"],
td a[href="/anime/59493/Tensei_shitara_Slime_Datta_Ken__Kanwa_-_Luminous_Memories"],
td a[href="/anime/10098/Kobato__Hajimete_no_Kobato"]
{
color: #535D8D;
font-weight:normal !important;
}

/*MOVIES*/

td a[href="/anime/8100/Mardock_Scramble__The_First_Compression"],
td a[href="/anime/47/Akira"],
td a[href="/anime/3087/Cencoroll"],
td a[href="/anime/5681/Summer_Wars"],
td a[href="/anime/49842/Otome_Game_no_Hametsu_Flag_shika_Nai_Akuyaku_Reijou_ni_Tensei_shiteshimatta_Movie"],
td a[href="/anime/22819/Aikatsu_Movie"],
td a[href="/anime/36896/Boku_no_Hero_Academia_the_Movie_1__Futari_no_Hero"],
td a[href="/anime/39565/Boku_no_Hero_Academia_the_Movie_2__Heroes_Rising"],
td a[href="/anime/44200/Boku_no_Hero_Academia_the_Movie_3__World_Heroes_Mission"],
td a[href="/anime/1689/Byousoku_5_Centimeter"],
td a[href="/anime/371/Cardcaptor_Sakura_Movie_1"],
td a[href="/anime/372/Cardcaptor_Sakura_Movie_2__Fuuin_Sareta_Card"],
td a[href="/anime/5/Cowboy_Bebop__Tengoku_no_Tobira"],
td a[href="/anime/24655/Date_A_Live_Movie__Mayuri_Judgment"],
td a[href="/anime/14353/Death_Billiards"],
td a[href="/anime/37348/Dungeon_ni_Deai_wo_Motomeru_no_wa_Machigatteiru_Darou_ka_Movie__Orion_no_Ya"],
td a[href="/anime/2759/Evangelion__10_You_Are_Not_Alone"],
td a[href="/anime/3784/Evangelion__20_You_Can_Not_Advance"],
td a[href="/anime/3785/Evangelion__30_You_Can_Not_Redo"],
td a[href="/anime/34100/Fate_kaleid_liner_Prisma☆Illya_Movie__Sekka_no_Chikai"],
td a[href="/anime/38897/Fate_kaleid_liner_Prisma☆Illya__Prisma☆Phantasm"],
td a[href="/anime/3016/Ginga_Eiyuu_Densetsu__Arata_naru_Tatakai_no_Overture"],
td a[href="/anime/32/Neon_Genesis_Evangelion__The_End_of_Evangelion"],
td a[href="/anime/43/Koukaku_Kidoutai"],
td a[href="/anime/164/Mononoke_Hime"],
td a[href="/anime/199/Sen_to_Chihiro_no_Kamikakushi"],
td a[href="/anime/433/Kumo_no_Mukou_Yakusoku_no_Basho"],
td a[href="/anime/437/Perfect_Blue"],
td a[href="/anime/441/Shoujo_Kakumei_Utena__Adolescence_Mokushiroku"],
td a[href="/anime/442/Naruto_Movie_1__Dai_Katsugeki_Yuki_Hime_Shinobu_Houjou_Dattebayo"],
td a[href="/anime/459/One_Piece_Movie_01"],
td a[href="/anime/460/One_Piece_Movie_02__Nejimaki-jima_no_Daibouken"],
td a[href="/anime/461/One_Piece_Movie_03__Chinjuu-jima_no_Chopper_Oukoku"],
td a[href="/anime/462/One_Piece_Movie_04__Dead_End_no_Bouken"],
td a[href="/anime/463/One_Piece_Movie_05__Norowareta_Seiken"],
td a[href="/anime/464/One_Piece_Movie_06__Omatsuri_Danshaku_to_Himitsu_no_Shima"],
td a[href="/anime/465/One_Piece_Movie_07__Karakuri-jou_no_Mecha_Kyohei"],
td a[href="/anime/523/Tonari_no_Totoro"],
td a[href="/anime/528/Pokemon_Movie_01__Mewtwo_no_Gyakushuu"],
td a[href="/anime/570/Jin-Rou"],
td a[href="/anime/807/Tsubasa_Chronicle__Tori_Kago_no_Kuni_no_Himegimi"],
td a[href="/anime/875/Mind_Game"],
td a[href="/anime/936/Naruto_Movie_2__Dai_Gekitotsu_Maboroshi_no_Chiteiiseki_Dattebayo"],
td a[href="/anime/1029/Omoide_Poroporo"],
td a[href="/anime/1033/Sennen_Joyuu"],
td a[href="/anime/1095/Kidou_Keisatsu_Patlabor_the_Movie"],
td a[href="/anime/1096/Kidou_Keisatsu_Patlabor_2_the_Movie"],
td a[href="/anime/1117/Pokemon_Movie_02__Maboroshi_no_Pokemon_Lugia_Bakutan"],
td a[href="/anime/1118/Pokemon_Movie_03__Kesshoutou_no_Teiou_Entei"],
td a[href="/anime/1119/Pokemon_Movie_04__Celebi_Toki_wo_Koeta_Deai"],
td a[href="/anime/2077/Kindaichi_Shounen_no_Jikenbo_Movie_1__Operazakan_-_Aratanaru_Satsujin"],
td a[href="/anime/2107/One_Piece_Movie_08__Episode_of_Alabasta_-_Sabaku_no_Oujo_to_Kaizoku-tachi"],
td a[href="/anime/2144/Naruto_Movie_3__Dai_Koufun_Mikazuki_Jima_no_Animaru_Panic_Dattebayo"],
td a[href="/anime/2175/Kino_no_Tabi__The_Beautiful_World_-_Byouki_no_Kuni_-_For_You"],
td a[href="/anime/2236/Toki_wo_Kakeru_Shoujo"],
td a[href="/anime/2313/Muumindani_no_Suisei"],
td a[href="/anime/2472/Naruto__Shippuuden_Movie_1"],
td a[href="/anime/2593/Kara_no_Kyoukai_Movie_1__Fukan_Fuukei"],
td a[href="/anime/3014/Ginga_Eiyuu_Densetsu__Waga_Yuku_wa_Hoshi_no_Taikai"],
td a[href="/anime/3089/The_Sky_Crawlers"],
td a[href="/anime/3782/Kara_no_Kyoukai_Movie_2__Satsujin_Kousatsu_Zen"],
td a[href="/anime/3848/One_Piece_Movie_09__Episode_of_Chopper_Plus_-_Fuyu_ni_Saku_Kiseki_no_Sakura"],
td a[href="/anime/4437/Naruto__Shippuuden_Movie_2_-_Kizuna"],
td a[href="/anime/6325/Naruto__Shippuuden_Movie_3_-_Hi_no_Ishi_wo_Tsugu_Mono"],
td a[href="/anime/7311/Suzumiya_Haruhi_no_Shoushitsu"],
td a[href="/anime/8246/Naruto__Shippuuden_Movie_4_-_The_Lost_Tower"],
td a[href="/anime/9260/Kizumonogatari_I__Tekketsu-hen"],
td a[href="/anime/9760/Hoshi_wo_Ou_Kodomo"],
td a[href="/anime/10408/Hotarubi_no_Mori_e"],
td a[href="/anime/10589/Naruto__Shippuuden_Movie_5_-_Blood_Prison"],
td a[href="/anime/11577/Steins_Gate_Movie__Fuka_Ryouiki_no_Déjà_vu"],
td a[href="/anime/11743/Toaru_Majutsu_no_Index_Movie__Endymion_no_Kiseki"],
td a[href="/anime/11981/Mahou_Shoujo_Madoka★Magica_Movie_3__Hangyaku_no_Monogatari"],
td a[href="/anime/13667/Naruto__Shippuuden_Movie_6_-_Road_to_Ninja"],
td a[href="/anime/14349/Little_Witch_Academia"],
td a[href="/anime/19489/Little_Witch_Academia__Mahoujikake_no_Parade"],
td a[href="/anime/28851/Koe_no_Katachi"],
td a[href="/anime/31757/Kizumonogatari_II__Nekketsu-hen"],
td a[href="/anime/31758/Kizumonogatari_III__Reiketsu-hen"],
td a[href="/anime/31765/Sword_Art_Online_Movie__Ordinal_Scale"],
td a[href="/anime/32281/Kimi_no_Na_wa"],
td a[href="/anime/33581/Trinity_Seven_Movie_1__Eternity_Library_to_Alchemic_Girl"],
td a[href="/anime/33674/No_Game_No_Life__Zero"],
td a[href="/anime/35946/Nanatsu_no_Taizai_Movie_1__Tenkuu_no_Torawarebito"],
td a[href="/anime/36862/Made_in_Abyss_Movie_3__Fukaki_Tamashii_no_Reimei"],
td a[href="/anime/36990/Non_Non_Biyori_Movie__Vacation"],
td a[href="/anime/37055/Youjo_Senki_Movie"],
td a[href="/anime/37407/Penguin_Highway"],
td a[href="/anime/39576/Goblin_Slayer__Goblins_Crown"],
td a[href="/anime/40421/Given_Movie"],
td a[href="/anime/40615/Umibe_no_Étranger"],
td a[href="/anime/36990/Non_Non_Biyori_Movie__Vacation"],
td a[href="/anime/42847/Ai_no_Utagoe_wo_Kikasete"],
td a[href="/anime/48585/Black_Clover__Mahou_Tei_no_Ken"],
td a[href="/anime/42030/Fate_kaleid_liner_Prisma☆Illya_Movie__Licht_-_Namae_no_Nai_Shoujo"],
td a[href="/anime/317/Final_Fantasy_VII__Advent_Children"],
td a[href="/anime/49310/Fruits_Basket__Prelude"],
td a[href="/anime/431/Howl_no_Ugoku_Shiro"],
td a[href="/anime/16782/Kotonoha_no_Niwa"],
td a[href="/anime/48820/Mahou_Shoujo_Madoka★Magica_Movie_4__Walpurgis_no_Kaiten"],
td a[href="/anime/52107/Mononoke_Movie"],
td a[href="/anime/19613/New_Initial_D_Movie__Legend_1_-_Kakusei"],
td a[href="/anime/28881/New_Initial_D_Movie__Legend_2_-_Tousou"],
td a[href="/anime/21557/Omoide_no_Marnie"],
td a[href="/anime/431/Howl_no_Ugoku_Shiro"],
td a[href="/anime/49842/Otome_Game_no_Hametsu_Flag_shika_Nai_Akuyaku_Reijou_ni_Tensei_shiteshimatta…_Movie"],
td a[href="/anime/48820/Mahou_Shoujo_Madoka★Magica_Movie_4__Walpurgis_no_Kaiten"],
td a[href="/anime/55744/Ousama_Ranking_Movie"],
td a[href="/anime/1943/Paprika"],
td a[href="/anime/6675/Redline"],
td a[href="/anime/12477/Sakasama_no_Patema"],
td a[href="/anime/53850/SSSSGridman_Movie"],
td a[href="/anime/21469/Stand_By_Me_Doraemon"],
td a[href="/anime/50594/Suzume_no_Tojimari"],
td a[href="/anime/53529/Sword_Art_Online_Original_Movie"],
td a[href="/anime/42916/Sword_Art_Online__Progressive_Movie_-_Hoshi_Naki_Yoru_no_Aria"],
td a[href="/anime/38826/Tenki_no_Ko"],
td a[href="/anime/49877/Tensei_shitara_Slime_Datta_Ken_Movie__Guren_no_Kizuna-hen"],
td a[href="/anime/2560/Terra_e"],
td a[href="/anime/44141/Watashi_ni_Tenshi_ga_Maiorita_Precious_Friends"],
td a[href="/anime/50159/Zombieland_Saga_Movie"],
td a[href="/anime/38081/Girls___Panzer__Saishuushou_Part_2"],
td a[href="/anime/1120/Pokemon_Movie_05__Mizu_no_Miyako_no_Mamorigami_Latias_to_Latios"],
td a[href="/anime/7472/Gintama_Movie_1__Shinyaku_Benizakura-hen"],
td a[href="/anime/32/Shinseiki_Evangelion_Movie__Air_Magokoro_wo_Kimi_ni"],
td a[href="/anime/2759/Evangelion_Movie_1__Jo"],
td a[href="/anime/3784/Evangelion_Movie_2__Ha"],
td a[href="/anime/3785/Evangelion_Movie_3__Q"],
td a[href="/anime/40421/Given_Movie_1"],
td a[href="/anime/52107/Mononoke_Movie__Karakasa"],
td a[href="/anime/56175/Oomuro-ke__Dear_Sisters"],
td a[href="/anime/57647/Uma_Musume__Pretty_Derby_-_Shin_Jidai_no_Tobira"],
td a[href="/anime/57993/Oomuro-ke__Dear_Friends"],
td a[href="/anime/58491/Ganbatte_Ikimasshoi"]
{
color: #338543;
}

/*HENTAI*/

td a[href="/anime/221/Mezzo_Forte"],
td a[href="/anime/320/A_Kite"]
{
color: #832f30;
}
