body
{
	background-image: url();
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top left;
	margin: 0;	
	font-family: "Roboto", sans-serif;
	font-size:;
	background-color: #000000 !important;
}

#mal_control_strip td div, #mal_control_strip a  {
	font-family: "Roboto", sans-serif !important;
	font-size: 10px;
	text-decoration: none !important;
	color:#red !important;
}

/*INPUT SEARCH BOX TOP RIGHT COLOR REPLACEMENT*/

#mal_cs_powered #search #searchBox {
  	width: 125px;
	font-size: 10px;
 	font-family: "Roboto", sans-serif;
 	background: #22263A;
 	color: #5F6595;
 	border-color: #5F6595;
 	border-style: solid;
	border-width: 1px;
}
		
/* REMOVE CAPTCHA  */

.grecaptcha-badge { visibility: hidden; }
#recaptcha-terms {
display:none !important;
 }
 

td#mal_cs_pic {
	display:none !important;
}

img.lazyloaded {
    	background: #2E51A2;
	display:none !important;
}
		
#mal_control_strip img  {
	display:none !important;
}

